body {
	background-color: #f9f9f9;
}

.tag {
	color: #999;
}

.add-people {
	color: white;
	position: fixed;
	bottom: 35px;
	right: 35px;
	background-color: #d23f31;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	z-index: 10;
	box-shadow: 2px 2px 5px #888888;
}

.search-btn {
	color: white;
	margin-top: 5px;
	margin-bottom: 0;
}

.thumb {
	color: #999;
}

.error {
	color: red;
}

.search-bar {
	margin: 8px 0 7px 0;
}

.btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    color: white;
}

.btn:active:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    color: white;
}

.no-of-sites {
	color: #19ab73;
}

.people-img {
	height: 80px;
	width: 80px;
}

.onepush-navbar {
	margin-bottom: 0;
	background-color: #19ab73;
    border-color: #19ab73;
	box-shadow: 2px 0px 5px #888888;
}

.lower-body {
	margin-top: 50px;
}

@media (min-width: 768px) {
  	.lower-body {
  		margin-top: 100px;
  	}
  	.add-people {
		display: none;
	}
}