<!-- navbar -->
<nav class="navbar navbar-inverse onepush-navbar navbar-fixed-top">
  	<div class="container">
	    <div class="navbar-header">
	      	<button type="button" class="search-btn navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        	<i class="fa fa-search" aria-hidden="true"></i>
	      	</button>
	      	<a class="navbar-brand" style="color: white" href="/">OnePush</a>
	    </div>
        <div id="navbar" class="collapse navbar-collapse">
          	<div class="navbar-right">
      			<input type="text" class="search-bar form-control" ng-model="searchText" placeholder="Search">
         	</div>
        </div>
  	</div>
</nav>
